!!!
%html
  %head
    %title Github Friend!
    %link(href="#{image_path('favicon.ico')}" rel="icon" type="image/x-icon")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'shared/google'
    %meta(content="F9BMzl7YsJFSQPJuzegBPCDl1qkHhWd8lzJZ6ukIWIg" name="google-site-verification")
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand(href="/") Github Friend
          %ul.nav.pull-right
            -if member_signed_in?
              %li.dropdown
                =link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
                  ==@#{current_member.login}
                  %b.caret
                %ul.dropdown-menu
                  %li
                    =link_to member_token_path do
                      %i.icon-lock
                      Token
                  %li.divider
                  -unless current_member.subscribed
                    %li
                      =link_to member_subscribe_path do
                        %i.icon-envelope
                        Subscribe To Mail
                    %li.divider
                  %li
                    =link_to sign_out_path do
                      %i.icon-off
                      Sign Out
            -else
              %li=link_to 'Sign in with Github', member_omniauth_authorize_path(:github)
    #main.container
      -unless flash[:notice].blank?
        .alert.alert-info=flash[:notice]
      = yield
